ul {
    list-style: none;
    background: #1b1b1b;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #1b1b1b;
    position: absolute;
    display: none;
}

ul li a:hover {
    background: #313131;
}

ul li:hover ul.dropdown {
    display: block;
}